<h1>Add a Post</h1>

<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="blogs.posts.title" ></input>
    </div>
    <div class="form-group">
        <label>Author</label>
        <textarea class="form-control" ng-model="blogs.posts.date"></textarea>
    </div>
    <div class="form-group">
        <label>Heading</label>
        <textarea class="form-control" ng-model="blogs.posts.heading"></textarea>
    </div>
        <div class="form-group">
        <label>Say Anything</label>
        <textarea class="form-control" ng-model="blogs.posts.body"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>

