<h1>Add a Blog</h1>

<form>
    <div class="form-group">
        <label>Title</label>		
        <input class="form-control" ng-model="blog.title"></input>
    </div>
    <div class="form-group">
        <label>Author</label>
        <textarea class="form-control" ng-model="blog.author"></textarea>
    </div>
    <div class="form-group">
        <label>Say Anything</label>
        <textarea class="form-control" ng-model="blog.content"></textarea>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>	
</form>

